*{
    margin : 0;
    padding : 0;
  }
  body {
      /* height: 100vh; */
      /* background-color: #000;     */
      font-family: 'Roboto',sans-serif;
      /* background: linear-gradient(180deg,#dadada 0%,#96b1b9 100%) no-repeat; */
  }

  /* CARD/ SECTION DISPLAY */

.type-header{
    width: 100%;
    margin-top: 20px;
    background-color: #e8e8e8;
    padding: 16px 16px 16px 16px;
    border: 1px solid #e8e8e8;
    border-radius: 8px 8px 0 0;
}

.card-border{
    width: 100%;
    padding: 20px 16px 40px 16px;
    border-style: solid;
    border-color: #cccccc;
    border-radius: 0 0 8px 8px;
    border-width: 0px 1px 1px 1px;
    text-align: center;
}
  .container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 302px;
      margin: auto;
      /* padding: 0 0 0 16px; */
  }

  /* LABELS - MIN/MAX */
  .box-minmax{
    margin-top: 8px;
    width: 270px;
    display: flex;
    justify-content: space-between;
    
  }
  .box-minmax span:first-child {
    margin-left: 20px;
  }
  .box-minmax span:last-child{
    margin-right: -16px;
  }

/* SLIDER CONTAINER */
  /*
  .range-slider {
       margin-top: 16px;   
  }*/

/* SLIDER */
  .rs-range {
      margin-top: 16px;
      width: 270px;
      -webkit-appearance: none; 
  }

.rs-range:focus {
    outline: none;
}
.rs-range::-webkit-slider-runnable-track {
    width: 100%;
    height: 8px;
    cursor: pointer;
    box-shadow: none;
    background: #e8e8e8;
    border-radius: 4px;
    border: 0px solid #010101;
}
.rs-range::-moz-range-track {
    width: 100%;
    height: 8px;
    cursor: pointer;
    box-shadow: none;
    background: #e8e8e8;
    border-radius: 4px;
    border: 0px solid #e8e8e8;
}

.rs-range::-webkit-slider-thumb {
    box-shadow: none;
    border: 0px solid #e8e8e8;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.25);
    height: 22px;
    width: 22px;
    border-radius: 22px;
    background: #00a6de;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -8px;
}
.rs-range::-moz-range-thumb{
    box-shadow: none;
    border: 0px solid #e8e8e8;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.25);
    height: 22px;
    width: 22px;
    border-radius: 22px;
    background: #00a6de;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -8px;
}
/* .rs-range::-moz-range-progress {
    background-color: #43e5f7;
} */
.rs-range::-moz-focus-outer {
border: 0;
}

/* TOOL TIP */
  .rs-label {
      /* tooltip styling */
    color: #fff;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 12px;
    text-align: center;
    font-weight: bold;
    background: #000;
    
    
    /* tooltip box & positioning */
      position: relative;
      transform-origin: center center;
      display: block;
      width: 92px;
      padding: 5px 16px 5px 16px;
      box-sizing: border-box;
      border-radius: 4px;
      border: 0px solid #ccc;
      margin-left: -22px;
      left: attr(value);
      
  }

  .rs-label::before{
    content: "$";
    /* display: block; */
    /* font-size: 20px; */
    letter-spacing: 0.07em;
    margin-top: -2px;
}

/* FIXED INPUT TEXT */

.text-input-container{
    margin: auto;
    margin-top: 8px;
    display: block;
    text-align: right;
    width: 286px;
    /* padding: 4px 16px 4px 16px; */
}

.fixed-benefit-text-input{
    padding: 8px;
    /* margin-left: 8px; */
    margin-right: -4px;
    width: 72px;
    border: 1px solid #cccccc;
    border-radius: 4px;
    padding-left: 20px;
}

.num-input-dollar{
    position: relative;
    left: -94px;
    z-index: 1;
}

